/**VARIABLES**/
:root{
    --main-background:#F3F5FC;
    --dark-blue:#0A3871;
    --light-blue:#D8DFE8;
    --black:#343A40;



    --big:32px;
    --medium:24px;
    --normal:16px;
    --small:12px;
}

*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
}

main{
    padding: 40px;
    height: 100%;
}
.mainSection p{
    font-size: var(--small);
    color: var(--black);
}
.mainSection textarea{
    width: 100%;
    height: 100%;
    min-height: 300px;
}
button{
    width:100%;
}
.secondarySection h3{
    margin-bottom: 16px;
    text-align: center;
}
.secondarySection p{
    text-align: center;
}
#output-area{
    word-break: break-all;
    margin-top: auto;

}

h1 img{
    height: 48px;
    margin: 24px 16px;
}
body{
    background-color: var(--main-background);
}
#alert-container{
    display: flex;
    align-items: center;
}

#alert-container img{
    height: 16px;
    margin-right: 8px;
}
textarea{
    line-height: 48px;
    background-color: transparent;
    color: var(--dark-blue);
    font-size: var(--big);
    resize: none;
    border: none;
    outline: none;
}
::placeholder {
    color: var(--dark-blue);
}

button{
    border:2px solid var(--dark-blue);
    background-color:transparent;
    border-radius: 24px;
    font-size: var(--normal);
    font-weight: 400;
    padding: 24px;
}

:hover button{
    cursor: pointer;
}

.secondarySection{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 32px;
    font-size: var(--medium);
    color: var(--black);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    min-height: 186px;
    padding: 32px;
    margin-top: 60px
}
#primary-button{
    color: white;
    background-color: var(--dark-blue);
}
.secondarySection img{
    display: none;
    width: 336px;
    justify-self: center;
    margin: 0 auto;
}

.secondarySection h3{
    font-weight: 700;
    line-height: 28.8px;
}
.secondarySection p{
    font-size: var(--normal);
    line-height: 24px;
}
#copy-button{
    display: none;
}

@media (min-width: 700px) {
       .buttonsContainer{
        display: flex
       }
       #primary-button{
        margin-right: 24px;
       }
}
@media (min-width: 900px){
    body{
        display: flex;
    }
    header{
        margin-left: 40px;
    }

    main{
        width: 100%;
        display: flex;
        height: 100%;
    }
    main section{
        display: flex;
        flex-flow: column;
    }
    .mainSection{
        height: 100%;
        justify-content: space-between;
        width: 100%;
    }
    textarea{
        margin-top: 138px;
        margin-bottom: 16px;
    }
   .buttonsContainer{
       margin-bottom: 32px;

   } 
    .secondarySection{
        min-width: 400px;
        height: 100%;
        width: 400px;
        margin-left: 80px;
        margin-top: 0px;

    }
    .secondarySection img{
        display: block;
    }
}
